/* :root {

} */

header {
    background-color: rgb(54,54,134);
    color: white;
    padding: 5px;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

#user_search_form {
    border-bottom: lightgray 2px solid;
    padding-bottom: 10px;
}

#submit_btn {
    background-color: rgb(113,144,221);
    color: white;
}

#todays_weather_box {
    border: 1px black solid;
    padding: 10px;
}

#today_icon {
    vertical-align: middle;
}

#card_container {
    display:flex;
    justify-content: space-between;
    overflow-x:scroll;
}

.icon {
    max-height:60px;
    max-width:60px;
}

.five_day_cards {
    color: white;
    background-color: rgb(52, 61, 77);
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    box-sizing: border-box;
    min-width: 150px;
    height: 250px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.five_day_cards:last-child {
    margin-right: 0;
}

.bold {
    font-weight: bold;
}

#screen_container {
    display:flex;
    padding: 20px;
}

.width-100 {
    width:100%;
    box-sizing: border-box;
    font-size: medium;
    height: 35px;
    margin-top:10px;
}

#main {
    flex: 1;
    overflow-x:scroll;
}

#aside {
    flex: 0 0 20%;
    padding-right: 25px;
}

@media screen and (max-width: 1024px) {
    #screen_container {
        display: flex;
        flex-direction: column-reverse;

    }

    #main {
        margin-top:20px;
        order: 0;
    }

    #aside {
        padding-right: 0;
    }
}